@model KittenJournal.Models.Kitten

@{
    ViewData["Title"] = "Create";
}

<h1>New Kitten</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentWeight" class="control-label"></label>
                <input asp-for="CurrentWeight" class="form-control" />
                <span asp-validation-for="CurrentWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control">
                    <option value="Unknown">Unknown</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="FosterId" class="control-label"></label>
                    <select asp-for="FosterId" class="form-control" >
                        <option value="null">None</option>
                        @foreach (var f in ViewBag.Fosters)
                        {
                            <option value="@f.Id">@f.Name</option>
                        }
                    </select>
                    <span asp-validation-for="FosterId" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
